<footer>
  <p>Proudly coded by</p>
    <ul>
      <li>
        <a href="https://github.com/phearn">Phillip Hearn</a>
      </li>
      <li>
        <a href="https://github.com/alysonpaige">Alyson Paige</a>
      </li>
      <li>
        <a href="https://github.com/jiro-sains">Jacqueline Rosains</a>
      </li>
      <li>
        <a href="https://github.com/alanunruh">Alan Unruh</a>
      </li>
      <li>
        <a href="https://github.com/bountonw">Brian Wilson</a>
      </li>
  </ul>
</footer>