<div class="about-chess text-center">
  <h1>War & Piece</h1>
  <h4>Built with sweat, tears and code...</h4>
  <div class="buttons">
    <a class="button round"<%= link_to 'JOIN GAME', games_path %></a>
    <a class="button round"<%= link_to 'NEW GAME', games_path, method: :post %></a>
  </div>
</div>
