<h1 class="text-center">Chessboard</h1>

<table cellspacing="0" cellpadding="0" class="chessboard">
  <% 7.downto(0) do |row| %>
    <tr>
      <% 0.upto(7) do |col| %>
        <td>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>