<!-- keep this in #new -->

<!-- <div>
  <div class="text-center">
    <h2>Welcome to your new game!</h2>
      <%= simple_form_for @game do |f| %>

      <%= f.input :white_player_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <br />
      <%= f.submit 'Create' %>
    <% end %></div>
</div> -->



