<!-- keep this in #new -->

<!-- <div>
  <div class="text-center">
    <h2>Welcome to your new game!</h2>
      <%= simple_form_for @game do |f| %>

      <%= f.input :white_player_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <br />
      <%= f.submit 'Create' %>
    <% end %></div>
</div> -->

<!-- this will need to be moved to show -->

<h2 class="text-center">Chessboard</h2>

<table cellspacing="0" cellpadding="0" class="chessboard">
  <% 7.downto(0) do |row| %>
    <tr>
      <% 0.upto(7) do |col| %>
        <td class="text-center">
          <%=
            if (props = piece_at_location?(@pieces, row, col))
              color = props[0]
              type = props[1]
              image_tag("#{color}-#{type}.svg")
            else
            end
          %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>