<div class="text-center">
  <br/>
  <h2>Game: <%= @game.name %></h2>
</div>

<br/>

<table cellspacing="0" cellpadding="0" class="chessboard">
  <% 7.downto(0) do |row| %>
    <tr>
      <% 0.upto(7) do |col| %>
        <td class="text-center">
          <%=
            if (props = piece_at_location?(@pieces, row, col))
              color = props[0]
              type = props[1].downcase
              image_tag("#{color}-#{type}.svg")
            end
          %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
