/*not working*/
.about-chess {
  background: linear-gradient(to bottom, rgba(13, 175, 129, 0.1) 0%, rgba(13, 175, 129, 0.1) 100%), url('/assechessboard.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 660px;
  box-shadow: 0px 2px 5px #2a2a2a;
  text-align: center;
  margin-top: 0px;
  line-height: 30px;
}